@model Assignment2.Models.EmployeeViewModel


@{
    ViewBag.Title = "Home Page";
}

<h1 class="glyphicon-arrow-down">Employee Entry Form</h1>
<form action="/Home/Post" method="post">


    <table class="table table-bordered table-striped table-hover table-responsive" id="tblEmployee">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
           @Html.Partial("_Employee",Model)
        </tbody>
    </table>

    <input type="button" class="btnSave" value="SaveAll">
</form>
<script>

    $('.btnSave').unbind('click').bind('click', saveEmployee)
    function saveEmployee() {
        var $button = $(this);
        var $form = $button.parents('form:first');
        var $url = $form.attr('action');
        var $method = $form.attr('method');
        var data = $form.serialize();
        console.log(data);
        var option = {
            dataType: 'json',
            type: $method,
            url: $url,
            data: data
        };
        $.ajax(option).done(function (respons) {

        });
    }

    $('.deleteRow').unbind('click').bind('click', function () {
        var $button = $(this);
        var $tr = $button.closest('tr');
        $tr.remove();
    })

</script>